html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font: 500 100%/1.4 sans-serif;
  color: black;
  background: white;
}

*,
*:before,
*:after,
input,
select,
textarea {
  box-sizing: border-box;
}

.container {
  max-width: 2400px;
  padding: 0 10px;
  margin: 0 auto;
}